cp-zookeeper:
  enabled: false
cp-kafka:
  enabled: false

cp-schema-registry:
  enabled: true
  imageTag: 7.3.2
  nameOverride: "k8kafka-cp-schema-registry"
  overrideGroupId: "k8kafka"
  kafka:
    bootstrapServers: "PLAINTEXT://cluster-kafka-bootstrap.kafka:9092"
  heapOptions: "-Xms256M -Xmx256M"
  resources:
    requests:
      cpu: 50m
      memory: 0.25G
    limits:
      cpu: 250m
      memory: 0.35G
  configurationOverrides:
    "kafkastore.init.timeout.ms": "180000"
  prometheus:
    jmx:
      enabled: false

cp-ksql-server:
  enabled: false
cp-kafka-connect:
  enabled: false
cp-control-center:
  enabled: false
cp-kafka-rest:
  enabled: false